<!DOCTYPE html>
<html>
    <body>
    <h1>Welcome</h1>
    <form action="/send-message" method="post">
        Your message:<br><input type="text" name="message"><br>
        <input type="submit" value="Send">
    </form>
    <a href="/">go to index</a>
    </body>
</html>