<!DOCTYPE html>
<html>
<body>


<form method=post>
    <input type = "text" name="fname">
    <input type = "text" name="lname">
    <input type = "text" name="age">
    <input type = "submit">
</form>

<h2>{{.Fname}}</h2>
<h2>{{.Lname}}</h2>
<h2>{{.Age}}</h2>
<h1>{{.Qs}}</h1>

</body>
</html>