<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
</head>
<body>
{{$fName := .Fname}}
{{$lName := .Lname}}
<ul>
    <li>{{$lName}} - {{$fName}}</li>
</ul>
</body>
</html>